#header {
    background-color: rgb(223, 121, 164);
}

#nav-bar {
    position: fixed;
    top: 0px;
}

.nav-link {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-left: 700px;
    margin-top: 30px;
}

@media only screen and (max-width: 800px) {
    body {
        background-color: red;
    }